<odoo>

    <!-- ROOT MENU -->
    <menuitem id="fund_root_menu"
              name="Fund Management"
              sequence="1"/>

    <!-- FUND ACCOUNT -->
    <menuitem id="fund_account_menu"
              name="Fund Accounts"
              parent="fund_root_menu"
              action="action_fund_account"/>

    <!-- INCOMING FUNDS -->
    <menuitem id="fund_incoming_menu"
              name="Incoming Funds"
              parent="fund_root_menu"
              action="action_fund_incoming"/>

</odoo>